﻿/* @group Defaults */
@font-face {font-family: "Helvetica L";src: url(../fonts/Titillium_title03.otf) format("opentype");}
@font-face {font-family: "Helvetica UL";src: url(../fonts/Titillium_title03.otf) format("opentype");}
* {margin: 0;padding: 0;}
body {background: #f7fced;background: #eee url(..images/ng.gif) ;
      font-size: 13px;font-family: Helvetica Neue, helvetica, arial, sans-serif;line-height: 20px;color:#2C2C2C}
#content {-webkit-border-radius: 5px;-moz-border-radius: 5px;background: #fff;border: 1px solid #ccc;padding: 10px;}
 #content:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;zoom: 1;}
/* My Comment */
h1, h2, h3, h4, h5, h6{color:black}
h1, h2, h3, h4, h5, h6, ul, ol, dl, li, p {text-align: left;margin-bottom: 20px;font-weight: normal;}
ul, ol, dl {margin-left: 20px;}
ol {margin-left: 30px;}
a {color: #469dbb;text-decoration:none;} /*sky blue 469dbb - Maroon : BE0C01*/
a:hover {color: #d10938;}
.shadow {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Josefin Sans Std Light", "Helvetica L", helvetica, arial, sans-serif;font-weight: 300;font-size: 18px;text-shadow: 1px 1px 4px #aaa;margin-top: -3px;}
.error {color: #d10938;}
.success {color: #0bba0b;}
.notification {background: #FFFF99;padding: 10px;}
/* @end */
/* @group Header */
#header {height: 90px;background: url(../images/header.png);margin-bottom: 30px;}
#header .container_12 {position: relative;height: 90px;}
#header h1 a {
	display: block;/*background: url(://durocast.com//images/logo.png) no-repeat;text-indent: -9999px;*/;
	padding: 20px 0;
	position: relative;
	top: 15px;
	text-decoration: none;
}
#header .login {position: absolute;bottom: 9px;right: 0;}
#header .login a {display: block;height: 30px;line-height: 30px;color: #9f9f9f;text-decoration: none;text-align: center;background: url(../images/login.png) top left no-repeat;}
#header .login a:hover, #header .login a.selected {background: url(../images/login.png) bottom left no-repeat;}
#loginbox {display: none;position: absolute;top: 80px;right: 90px;background: #547280;padding: 10px;z-index: 9;opacity: .9;-moz-border-radius-topleft: 10px;-moz-border-radius-bottomleft: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;-webkit-border-top-left-radius: 10px;width: 340px;visibility:hidden}
#loginbox #username, #loginbox #password {color: #9f9f9f;height: 14px;line-height: 20px;padding: 3px 0;margin-bottom: 5px;width: 140px;}
#loginbox #username:focus, #loginbox #password:focus {color: black;}
#loginbox label {color: #ccc;}
#loginbox p {font-size: 11px;margin: 5px 0 0 0;color: white;}
#loginbox p a {color: #efefef;text-decoration: none;}
#loginbox #remember {}
#header .logged {text-align: right;}
#header .logged .message {color: #fafdf3;font-size: 24px;font-family: /*"HelveticaNeue-Light", "Helvetica Neue Light", */
"Helvetica Neue", helvetica, "Josefin Sans Std Light", "Helvetica L", arial, sans-serif;line-height: 80px;float: right;margin-right: 83px;font-weight: 300;}
#header .logged .message a {text-decoration: none;}
#header .logged .picture {float: right;background: #45464c url(../images/menu.gif) 60px 22px no-repeat;text-align: left;padding: 5px 20px 5px 5px;margin-top: 10px;cursor: pointer;}
#header .logged .picture:hover {background: #51535a url(../images/menu.gif) 60px 22px no-repeat;}
#header .logged #menu {position: absolute;top: 70px;right: 0;margin: 0;padding: 0 10px 0 0;list-style: none;background: #51535a;display: none;}
#header .logged #menu.jsenabled {bottom: 10px;width: 160px;height: 166px;z-index: 9;right: ;display: block;padding: 0;margin: 0;-moz-border-radius-bottomright: 5px;-webkit-border-bottom-right-radius: 5px;-moz-border-radius-bottomleft: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-webkit-border-top-left-radius: 5px;opacity: .9;}
#header .logged #menu li {margin: 5px;float: left;}
#header .logged #menu.jsenabled li {display: block;clear: both;float: none;padding: 0 10px;margin: 0;}
#header .logged #menu li a {color: #fafdf3;text-decoration: none;}
#header .logged #menu.jsenabled li a {color: #fafdf3;text-decoration: none;display: block;clear: both;padding: 0px 5px;border-bottom: 1px solid #6e7076;line-height: 30px;font-size: 11px;}
#header .logged #menu.jsenabled li a:hover {font-style: italic;}
/* @end */
/* @group Find */
#find {background-position: 0% 0%;padding: 10px;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;margin-top: 10px;border-bottom: 5px solid #cfcfcf;height: 42px;margin-bottom: 20px;background-color: #c6edea;/* FF3.6 */
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#c6edea', EndColorStr='#93c4d2')";border-bottom: 1px solid #aaa;position: relative;background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #c6edea),color-stop(1, #93c4d2));/* Saf4+, Chrome */
 /* IE6,IE7 */
 /* IE8 */
 margin-left: -10px;margin-right: -10px;margin-top: -10px;background-repeat: repeat;background-attachment: scroll;}
#find .shadow {margin: 5px 10px 0 0;}
#find input, #find select {border-top: 1px solid #bfbfbf;border-right: 1px solid #888;border-bottom: 1px solid #888;border-left: 1px solid #bfbfbf;}
#find input#ctl00_ContentPlaceHolder1_searchbox_txtSearch {height: 40px;line-height: 40px;font-size: 15px;border-top: 1px solid #bfbfbf;border-right: 1px solid #777;border-bottom: 1px solid #777;border-left: 1px solid #bfbfbf;padding-right: 8px;text-indent: 8px;background: #FFFFFE;-moz-box-shadow: 0px 0px 1px #888;/* FF3.5+ */
-webkit-box-shadow: 0px 0px 1px #888;/* Saf3.0+, Chrome */
box-shadow: 0px 0px 1px #888;/* Opera 10.5, IE 9.0 */
margin-bottom: 0px;margin-left: 10px;
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE')";
}
#find select {display: none;/*background: #FFFFFE;background: -moz-linear-gradient( center bottom, rgb(255,255,255) 10%, rgb(238,238,238) 96%);background: -webkit-gradient( linear, left bottom, left top, color-stop(0.1, rgb(255,255,255)), color-stop(0.96, rgb(238,238,238)));/*border-top: 1px solid #bfbfbf;border-right: 1px solid #888;border-bottom: 1px solid #888;border-left: 1px solid #bfbfbf;*/
height: 23px;padding-top: 1px;}
#find input[type="submit"] {background-position: 0% 0%;margin-left: 20px;width: 100px;text-align: center;color: #444;font-size: 15px;height: 40px;line-height: 20px;border-top: 1px solid #bfbfbf;border-right: 1px solid #777;border-bottom: 1px solid #777;border-left: 1px solid #bfbfbf;background-color: #FFFFFF;/* FF3.6 */
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FFFFFF', EndColorStr='#EEEEEE')";background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #EEEEEE));/* Saf4+, Chrome */
 background-repeat: repeat;background-attachment: scroll;}
 .btnsearch:hover{background-color:#d10938}
#find input[type="submit"]:hover {background: #d10938;color: #fff;}
#find #ctl00_ContentPlaceHolder1_searchbox_txtSearch, #find #location, #uterm {color: #9f9f9f;}
#find #ctl00_ContentPlaceHolder1_searchbox_txtSearch:focus, #find #location:focus, #uterm:focus {color: black;}
.example {display: none !important;margin: -20px 0 0 0;}
#s-examples {position: absolute;top: 50px;z-index: 99;background: rgba(255,255,255, .9);border: 1px solid #bbb;border-top: none;width: 708px;border-right: 1px solid #666;border-bottom: 1px solid #666;display: none;}
#s-examples h3 {background: #eee;font-size: 13px;font-weight: bold;text-indent: 10px;color: #999;margin-bottom: 0px;}
#s-examples ul {list-style: none;margin: 0;padding: 0;}
#s-examples li {margin: 0;}
#s-examples li a {display: block;text-decoration: none;padding: 5px 10px;}
#s-examples li a:hover {background: #eee;}
/* @group Corrections */
.gutter {float: left;display: inline;width: 20px;margin-right: -10px;}
#location {width: 124px;}
/* @end */
/* @end */
/* @group Popular */
/* @group Station */
#station .fav {position: relative;top: 2px;}
#station .slogan {margin-top: 42px;margin-left: 5px;height: 20px;text-transform: capitalize;font-size: 20px;font-style: italic;}
#station .bestname {color:#684972;font-weight: bold;}
#station .location {margin-left: 10px;font-size: 15px;font-style: italic;float: left;margin-top: -10px;height: 40px;line-height: 40px;position: absolute;top: 100px;}
#station .options {position: absolute;left: 150px;float: left;top: 94px;background: url(../images/popular.png) bottom left;opacity: .7;padding: 5px 10px;font-size: 11px;-moz-border-radius: 10px;-webkit-border-radius: 10px;}
#station #populartags {margin-top: 40px;}
/* @end */
#local {margin-top: -10px;}
#popular {margin-top: -10px;}
#browse {margin-top: 20px;}
#local h2.shadow, #popular h2.shadow {position: relative;top: 10px;}
#popular, #preset, #station, #local {height: 210px;background: url(../images/bar.png);position: relative;/*margin: 0;padding: 0 10px;*/
}
.popular {height: 70px;margin-top: 20px;background: url(../images/popular.png) no-repeat;font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", helvetica, arial, sans-serif;}
.popular a {color: white;text-decoration: none;}
.popular a:hover {color: #469dbb;}
.popular h4 {font-size: 16px;margin: 10px;font-weight: bold;overflow: hidden;white-space: nowrap;}
.popular .meta {font-size: 11px;margin: 0;line-height: 10px;font-weight: 300;margin: 0 10px;}
.popular .meta.tag {font-style: italic;overflow: hidden;height: 11px;position: relative;}
#populartags {margin-top: 20px;overflow: hidden;font-size: 24px;}
#populartags p {font-family: "HelveticaNeue-UltraLight", "Helvetica Neue Ultra Light", "Helvetica Neue", "Helvetica UL", helvetica, arial, sans-serif;font-size: 24px;line-height: 25px;font-weight: 100;margin: 0px 10px 0;color: #555;text-shadow: 0 0 3px white;}
#populartags a {color: black;text-decoration: none;background: transparent;}
#populartags a:hover {color: blue;}
.addpreset h4 {text-align: center;margin-top: 23px;}
.add {color: #a9fe00;}
#sidebar.pics .add, #sidebar.pics .add:hover {background: transparent;border: none;color: #0bba0b;}
.addpreset h4 a:hover {color: inherit;}
/* @group Preset */
#preset .popular {height: 110px;}
html > body #preset .popular .presetfunctions {display: none;}
#preset .popular .presetfunctions, #preset .active .presetfunctions {display: block;position: absolute;bottom: -0px;left: 0;background: url(../images/popular.png) bottom left;opacity: .7;padding: 0 10px;font-size: 11px;-moz-border-radius-bottomleft: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;-webkit-border-bottom-left-radius: 10px;}
#preset .popular:hover .presetfunctions, html body #preset .active .presetfunctions {display: block;}
.presetfunctions > a:first-child {font-weight: bold;}
#preset h4 a {position: absolute;display: block;height: 60px;width: 210px;z-index: 7;top: 0;left: 0;padding-top: 10px;padding-left: 10px;}
#preset h4 {/*margin-bottom: 40px;*/
height: 20px;}
#preset .active a em {font-size: 11px;color: #d10938;position: absolute;right: 10px;margin-top: 2px;background: url(../images/popular-active.png) top right no-repeat;padding-left: 2px;}
#preset .active {background: url(../images/popular-active.png) no-repeat;}
#preset .active .meta, #preset .active h4 a, #preset .active .meta a {color: black;}
.addpreset h4 {margin: 0;}
.addpreset h4 a {line-height: 45px;}
/* @end */
/* @end */
#browse {margin-bottom: 15px;overflow: hidden;padding-top: 2px;}
#browse ul {margin: 0;padding: 0;width: 960px;overflow: hidden;}
#browse li {list-style: none;margin: 0;float: left;width: 180px;margin-right: 60px;padding: 0;}
#browse li.browsehe {list-style: none;margin: 0;float: left;width: 180px;margin-right: 60px;padding: 0;border-bottom:dashed 1px gray;/*background-color:#FFF;*/}
#browse li:hover {border-color: #d10938;}
#browse li a {display: block;margin: 0px 0 3px;padding: 2px;padding-left:5px;text-decoration: none;text-transform: capitalize;/*background: #eee;*/}
#browse li.browsehe a {display: block;margin: 0px 0 0px;padding: 3px;padding-left:0px;text-decoration: none;text-transform: capitalize;
                       background-color:#FFF;/*color:#d10938;*/color:Black;font-weight:bold;}
#browse li a:hover {background: #d10938;color: #fff;}
#browse li.browsehe a:hover {background: #FFF;color: #469DBB;color: #d10938}
/* @group Boxes */
#boxes {border-top: 10px solid #cfcfcf;background: #323033;margin: 0 -10px -10px;padding: 20px 20px 0 20px;-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.box {height: 284px;-moz-border-radius: 5px;-webkit-border-radius: 5px;margin-top: 0px;color: #eee;}
.box:hover {opacity: 1;}
#boxes h3 {text-shadow: 0 0 1px #aaa;border-bottom: 1px solid #555;padding-bottom: 5px;}
.box.explore {background: #444;top: 0px;left: 0px;}
.box.explore h3, .box.explore p {margin: 10px;}
.box.ad {background: url(../images/box-paint.jpg);/*background: url(../images/box-sign.jpg);*/
}
.box.ad h3 {font-size: 20px;color: white;text-align: center;margin-top: 110px;margin-bottom: 0px;border: none !important;}
.box.ad p {text-align: center;color: white;}
.box.ad a {color: white;text-decoration: none;}
.box.video p {margin: 0;}
.box.video p a {height: 280px;display: block;-moz-border-radius: 10px;-webkit-border-radius:10px;text-indent: -9999px;}
.box.video p.ad-feed a {background: url(../images/feedbackad.jpg);}
.box.video p.ad-fav a {background: url(../images/ad-favs.jpg);}
/*.box.explore {background: url(../images/box-explore.jpg);text-indent: -9999px;}
*/
.box.pics a {float: left;background: #ddd;margin: 1px;padding: 2px;border: 2px solid #000;text-decoration: none;}
.box.pics a:hover {background: #fff;padding: 3px;border: 1px solid #000;}
.box.pics a img {border: none;}
.box p {margin: 0 0px 10px;}
.box ul {margin: 0 10px;}
.box li {margin: 0;list-style: none;}
/* @end */
/* @group Table */
#dashboardintro tr {text-indent: 0 !important;}
#dashboardintro img {margin-bottom: 20px;}
#dashboardintro {text-indent: 0 !important;}
#dashboardintro p {margin-left: 10px;margin-right: 10px;line-height: 20px;}
#dashboardintro div {margin-top: -20px;clear: both;background: #EBEFF6;padding-bottom: 20px;overflow: hidden;}
#results p form {display: inline;}
#results span.edit {text-decoration: underline;/*cursor: pointer;*/
}
#add {color: #0bba0b;text-decoration: none;font-weight: bold;font-size: 15px;}
.results {display: table;background: url(../images/tablebg.gif) 0px 20px;margin-bottom: 20px;font-size: 1em;border: 1px solid #ddd;border-top: none;-moz-border-radius: 5px;/* FF1+ */
 -webkit-border-radius: 5px;/* Saf3-4 */
 border-radius: 5px;/* Opera 10.5, IE 9, Saf5, Chrome */
}
.results a {color: #222;text-decoration: none;}
.results tr {text-align: left;text-indent: 0px;}
.results td {padding:20px 10px 25px 10px;}
.results tbody tr:hover, .results .listening {background: #D1DCEF;}
.results tbody tr:hover a {text-decoration: underline;}
.results tbody tr:hover a:hover {color: #d10938;}
.results thead {height: 20px;line-height: 20px;background: white url(../images/th-bg.gif);text-align: left;}
.results thead th {text-align: left;font-weight: normal;color: #333;border-right: 1px solid #999;background: url(../images/arrows.gif) center right no-repeat;padding-right: 10px;cursor: pointer;}
.results thead .tl {height: 10px;width: 10px;display: block;position: absolute;background: url(../images/th-tl.gif) top left no-repeat;}
.results thead td {background: url(../images/th-tr.gif) top right no-repeat;}
.results tbody {height: 40px;line-height: 22px;}
.results tfoot {line-height: 40px;}
.results tfoot a {text-decoration: underline;}
.results tbody td.tag span.overflow {display: block;width: 260px;height: 40px;overflow: hidden;}
.results tbody td.location span.overflow {display: block;max-width: 150px;height: 40px;overflow: hidden;}
* html .results tbody td.location span.overflow {width: 150px;}
.results .add {display: block;float: left;width: 15px;height: 15px;color: #0bba0b;font-size: 17px;text-decoration: none;margin-right: 0px;margin-left: 2px;text-align: left;text-indent: -9999px;background: url(../images/add.gif) no-repeat;overflow: hidden;}
.results .fav {margin-left: 5px;float: left;}
span.null {float: left;display: inline-block;height: 15px;width: 15px;text-indent: -9999px;overflow: hidden;margin-right: 0px;margin-left: 5px;}
.fav {display: inline-block;height: 15px;width: 15px;text-indent: -9999px;overflow: hidden;}
.fav.off {background: url(../images/fav.png) top left;}
.fav.on {background: url(../images/fav.png) bottom left;}
#results .play {}
table .play {float: left;display: inline-block;width: 15px;height: 15px;color: #0bba0b;font-size: 17px;text-decoration: none;margin-right: 0px;margin-left: 5px;text-align: left;text-indent: -9999px;background: url(../images/playstop.gif) top left no-repeat;overflow: hidden;}
table #hideplayer {float: left;display: inline-block;width: 15px;height: 15px;color: #0bba0b;font-size: 17px;text-decoration: none;margin-right: 0px;margin-left: 5px;text-align: left;text-indent: -9999px;background: url(../images/showplayer.png) 0 1px no-repeat;overflow: hidden;}
.results .play.jsstop {background-position: bottom left;}
table .popup1 {float: left;display: inline-block;width: 15px;height: 15px;text-decoration: none;margin-right: 0px;margin-left: 5px;text-align: left;text-indent: -9999px;background: transparent url(../images/website.gif) top left no-repeat;opacity: .7;overflow: hidden;}
.results thead tr .headerSortDown {background: url(../images/asc.gif) center right no-repeat;}
.results thead tr .headerSortUp {background: url(../images/desc.gif) center right no-repeat;}
.canceledit {color: red;background: transparent;border: none;font-size: 14px;margin-left: 5px;cursor: pointer;}
input.editgo {background: transparent;border: none;color: #0bba0b;font-size: 14px;margin-left: 5px;cursor: pointer;}
/* @end */
/* @group Sidebar */
/* @group Sidebar */
#sidebar {background: white url(../images/th-bg.gif) repeat-x;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;margin-top: 0;padding: 20px 0 0 0;margin-bottom: 20px;}
#sidebar ul {border: 1px solid #ddd;border-top: none;}
#sidebar.pics ul {background-image: none !important;padding-bottom: 10px;}
#sidebar.pics li {float: left;text-indent: 0;padding-left: 10px;padding-top: 10px;}
#sidebar.pics a {float: left;background: #ddd;margin: 1px;padding: 3px;border: 1px solid #aaa;text-decoration: none;}
#sidebar.pics a:hover {background: #fff;padding: 3px;border: 1px solid #555;}
#sidebar.pics a img {border: none;margin: 0;}
#sidebar h3 {line-height: 40px;background: #D1DCEF;font-size: 13px;text-shadow: 1px 1px 6px gray;text-indent: 10px;margin: 0;}
#sidebar img {margin: 10px;}
#suggested {margin-top: -45px;}
#sidebar .suggested {list-style: none;margin: 0 0 0 0;text-indent: 10px;line-height: 40px;background: url(../images/tablebg.gif);overflow: hidden;}
#sidebar .suggested li {margin: 0;}
#sidebar .subtle {list-style: none;margin: 0;}
#sidebar .subtle li {padding: 10px;margin: 0;line-height: 40px;border-bottom: 1px solid #e9e9e9;}
#sidebar .subtle li a {text-decoration: none;}
#sidebar .recommend li {line-height: 20px !important;}
#sidebar .recommend .slogan {display: block;}
#sidebar .recommend .slogan a {font-weight: bold;}
#sidebar .recommend .tags {display: block;}
#sidebar .recommend .tags a {font-style: italic;}
/* @end */
/* @end */
/* @group Footer */
#footer {width: 100%;margin-top: 40px;height: 40px;float: left;clear: both;background: url(../images/header.jpg);color: #777;line-height: 40px;}
#footer p {margin-bottom: 0;height: 20px;}
#footer a {text-decoration: none;}
#footer .copyright {margin-left: 10px;margin-right: 75px;}
/* @end */
/* @group Player */
table #player {/*top: 40px;right: 100px;*/
left: 100px;}
#player {position: absolute;z-index: 9999;width: 500px;height: 350px;background: #C7C8C9 url(../images/th-bg.gif) repeat-x;-moz-border-radius: 10px;-webkit-border-radius: 10px;opacity: .9;overflow: hidden;}
#preset #player {top: 100px;}
#player .title {margin: 0;height: 20px;line-height: 20px;color: black;text-align: center;cursor: move;}
#player .url {width: 476px;width: 100%;border-right: 2px solid #C1C2BF;border-left: 2px solid #C1C2BF;border-top: 2px solid #8F8F90;position: absolute;height: 15px;}
#player .popup {display: block;width: 20px;height: 19px;background: url(../images/popup.gif);position: absolute;right: 0;text-indent: -9999px;}
#player iframe {width: 100%;height: 85%;position: absolute;top: 37px;top: 40px;left: 0;border: none;margin-bottom: 20px;}
#player .resize {position: absolute;display: block;width: 15px;height: 15px;background: url(../images/resize.gif) bottom right no-repeat;bottom: 0;right: 0;text-indent: -9999px;cursor: se-resize;}
#player .minus, #player .x {display: block;position: absolute;top: 0;z-index: 99;font-weight: bold;height: 20px;text-decoration: none !important;text-align: center !important;padding: 0 5px 0px;text-indent: 0px;}
#player .minus {right: 25px;color: orangered;}
#player .x {right: 3px;color: #d10938;}
#player .minus:hover, #player .x:hover {text-shadow: 1px 1px 5px #000;}
/* @end */
/* @group Register */
#register .shadow {margin-bottom: 40px;}
#register label.left {float: left;width: 150px;}
#whyregister {margin-right: 40px;}
#register form {float: left;margin-top: 2px;}
#whyregister h3 {font-size: 18px;}
#whyregister ul {list-style-type: circle;}
#whyregister li {margin-bottom: 0;}
#remember-m {margin-right: 5px;}
/* @end */
/* @group About */
#about #what h3 {margin-top: 40px;clear: both;}
#about h1.pullquote {margin-left: -240px;margin-top: 10px;border-bottom: 1px solid #afafaf;border-top: 1px solid #afafaf;padding: 40px;font-size: 25px;font-family: georgia;letter-spacing: .1em;font-style: italic;text-align: center;}
.aboutnav {position: fixed;top: 270px;width: 230px;}
.aboutnav li a {display: block;text-decoration: none;margin-bottom: 1px;text-indent: 10px;}
.aboutnav li li a {text-indent: 20px;font-style: italic;}
#about .section {clear: both;overflow: hidden;padding-top: 5px;}
#about #what img {border: 4px solid #ddd;margin: 0 0 20px 20px;padding: 1px;background: #bbb;}
#about hr {clear: both;border: none;border-top: 10px solid #eee;padding-top: 6px;margin-top: 20px;margin-bottom: 40px;}
#about img.about {float: left;border: 5px solid #dfdfdf;margin: 0px 20px 20px 0;width: 100px;clear: left;}
#about h3 {margin-bottom: 10px;border-bottom: 1px solid #afafaf;}
#about h3 em {font-family: georgia;letter-spacing: 1px;margin-left: 3px;}
#about h4 {clear: both;margin-bottom: 0px;margin-top: 20px;font-weight: bold;}
#about .facts {float: left;width: 490px;margin-bottom: 40px;}
#about ul {margin: 0;list-style: none;}
#about li {margin: 0;}
.displaynone {display: none;text-indent: -99999px;}
/* @end */
/* @group popup */
.jqifade{position: absolute;background-color: #aaaaaa;}
div.jqi{width: 400px;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;position: absolute;background-color: #ffffff;font-size: 11px;text-align: left;border: solid 1px #eeeeee;-moz-border-radius: 10px;-webkit-border-radius: 10px;padding: 7px;}
div.jqi .jqicontainer{font-weight: bold;}
div.jqi .jqiclose{position: absolute;top: 4px;right: -2px;width: 18px;cursor: default;color: #bbbbbb;font-weight: bold;}
div.jqi .jqimessage{padding: 10px;line-height: 20px;color: #444444;}
div.jqi .jqibuttons{text-align: right;padding: 5px 0 5px 0;border: solid 1px #eeeeee;background-color: #f4f4f4;}
div.jqi button{padding: 3px 10px;margin: 0 10px;background-color: #2F6073;border: solid 1px #f4f4f4;color: #ffffff;font-weight: bold;font-size: 12px;}
div.jqi button:hover{background-color: #728A8C;}
div.jqi button.jqidefaultbutton{background-color: #BF5E26;}
.jqiwarning .jqi .jqibuttons{background-color: #BF5E26;}
.addpresetsfade{position: absolute;background-color: #aaaaaa;}
div.addpresetstable {overflow: auto;height: 300px;margin-top: 10px;}
div.addpresetstable input {display: block;margin: 0 10px;}
div.addpresets{height: 370px;width: 650px;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;position: absolute;background-color: #ffffff;font-size: 11px;text-align: left;border: solid 1px #eeeeee;-moz-border-radius: 10px;-webkit-border-radius: 10px;padding: 7px;}
div.addpresets .addpresetscontainer{font-weight: normal;}
div.addpresets .addpresetsclose{position: absolute;top: 4px;right: -2px;width: 18px;cursor: default;color: #bbbbbb;font-weight: bold;}
div.addpresets .addpresetsmessage{padding: 10px;line-height: 20px;color: #444444;}
div.addpresets .addpresetsbuttons{text-align: right;padding: 5px 0 5px 0;border: solid 1px #eeeeee;background-color: #f4f4f4;}
div.addpresets button{padding: 3px 10px;margin: 0 10px;background-color: #2F6073;border: solid 1px #f4f4f4;color: #ffffff;font-weight: bold;font-size: 12px;}
div.addpresets button:hover{background-color: #728A8C;}
div.addpresets button.addpresetsdefaultbutton{background-color: #BF5E26;}
.addpresetswarning .addpresets .addpresetsbuttons{background-color: #BF5E26;}
div.addpresets #contacts {height: 300px;overflow: auto;}
div.swappp {float: left;margin: 8px;}
div.swappp .popular {float: left;width: 141px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;-webkit-border-top-left-radius: 10px;}
#addstation label {display: block;float: left;width: 130px;}
#addstation input {width: 240px;}
/* @end */
/* @group Profile */
#profile {margin-bottom: 20px;background: ;}
#profile img, .person img {display: block;float: left;border: 5px solid #313236;margin: -3px 20px 20px 0;}
#profile .shadow, .person .shadow {margin-left: 80px;margin-bottom: 0px;}
.person .shadow .ppage {text-decoration: none;padding: 0;color: black;}
.person .shadow .ppage:hover {text-decoration: underline;}
#profile .meta, .person .meta {display: block;font-style: italic;font-family: georgia;margin-bottom: 0px;}
#profile .about {}
#profile .contact, #contacts .contact, .person .contact {text-decoration: none;margin-right: 0px;margin-left: 5px;text-align: left;overflow: hidden;}
#profile .contact span, #profile .you, .person .contact span, .person .you {font-size: 13px;}
.feedback {font-size: 13px;}
#profile .add, #contacts .add, #contacts .confirm, .person .add, .person .confirm {color: #0bba0b;}
#profile .remove, #contacts remove, #contacts .ignore, .person .remove {color: #d10938;}
.person {clear: both;margin-top: 20px;}
/* @end */
/* @group Preferences */
#sidebar.preferences ul {margin-top: 10px;margin-left: 25px;border: none;}
#preferences fieldset {padding: 20px;border: 1px solid #D1DCEF;}
#preferences label {display: block;float: left;clear: both;width: 150px;}
#preferences .email label {width: 500px;}
#preferences .email p {border-bottom: 1px solid #ddd;margin-bottom: 0;padding: 10px 0;line-height: 15px;}
#preferences .facebook label {width: 500px;}
#preferences .facebook p {border-bottom: 1px solid #ddd;margin-bottom: 0;padding: 10px 0;line-height: 15px;}
#preferences input[type=submit] {margin-top: 10px;}
/* @end */
/* @group Contacts */
#contactsp #suggested {margin-top: 0;}
#contactsp #searchfriends {margin-bottom: 40px;}
/* @end */
.alternateRusults{background-color:#ebeff6;}
tr.alternateRusults:hover{background-color:#D1DCEF;}
 .facilities{background:url(../images/sprite.png) no-repeat left -655px ;height:20px;}
.pagerresults td{text-align :right;height:10px ;padding:0 10px 0 0 ;}
 
 .menu{text-align:center;margin:20px 0 ;}

 .section{line-height:15px;margin:30px 0}
.section h2{padding-bottom:3px;border-bottom: 1px solid Maroon;  }
.section h3{padding:25px 0 5px;margin:0;}
.section p{padding:0px 0 5px ;margin:0;}
.section a{color:#000;}
.section h3 a:hover{color:#D10938;text-decoration:underline;}
/*StarCssClass*/
.ratingStar{width:15px;height:15px;cursor:pointer;}
/* WaitingStarCssClass*/
.savedRatingStar{}
/*FilledStarCssClass*/
.filledRatingStar{background: url(../images/ratingsprite.gif) no-repeat left -135px ;}
/*EmptyStarCssClass*/
.emptyRatingStar{background: url(../images/ratingsprite.gif) no-repeat left 0px ;}
.star1, .star2,.star3, .star4, .star5, .star6, .star7, .star8, .star9, .star10,.star0{height: 15px;}
.star0{background: url(../images/ratingsprite.gif) no-repeat left 0px ;}
.star1{background: url(../images/ratingsprite.gif) no-repeat left 0px ;}
.star2{background: url(../images/ratingsprite.gif) no-repeat left -15px ;}
.star3{background: url(../images/ratingsprite.gif) no-repeat left -30px ;}
.star4{background: url(../images/ratingsprite.gif) no-repeat left -45px ;}
.star5{background: url(../images/ratingsprite.gif) no-repeat left -60px ;}
.star6{background: url(../images/ratingsprite.gif) no-repeat left -75px;}
.star7{background: url(../images/ratingsprite.gif) no-repeat left -90px;}
.star8{background: url(../images/ratingsprite.gif) no-repeat left -105px ;}
.star9{background: url(../images/ratingsprite.gif) no-repeat left -120px ;}
.star10{background: url(../images/ratingsprite.gif) no-repeat left -135px ;}
.review td{padding:7px 0;}
#Menutabs ul{list-style:none; }
#Menutabs ul li{display:block;float:left;margin:5px 10px ;  }
#Menutabs ul li a {color:#469DBB;padding:5px 8px ;background-color:#EEE;}
#Menutabs ul li a:hover{background-color:#D10938;color:#FFF	}
.ajax__tab_header {text-align:left;background-image:none;}
.ajax__tab_header h3{font-size:16px;color:Black;}
.push{height:2em;}
#coin-slider{height:282px;overflow:hidden}

#coin-slider a img{border:none}
#coin-slider a img:hover{border:none}

div#controllers {text-align: right;margin-top:10px; }

div#controllers a {background: url(../images/controller1.png) no-repeat;display: inline-block;height: 15px;margin-right: 4px;
				text-indent: 9999px;width: 15px;}
				
div#controllers a.activeSlide {background: url(../images/controller2.png) no-repeat;margin-right: 4px;width: 15px;height: 15px;}