﻿<%@ WebHandler Language="C#" Class="Handler" %>

using System;
using System.Web;
using System.Configuration;
using System.Text;
using System.Data;
//using MySql.Data.MySqlClient;
public class Handler : IHttpHandler
{

    public void ProcessRequest(HttpContext context)
    {
        //context.Response.ContentType = "text/plain";
        //context.Response.Write("Hello India");
        string prefixText = "%" + context.Request.QueryString["q"] + "%";
        DataSet ds = new DataSet();
        StringBuilder sb = new StringBuilder();
        //using (MySqlConnection conn = new MySqlConnection())
        //{
        //    conn.ConnectionString = ConfigurationManager.ConnectionStrings["OdbcSessionServices"].ConnectionString;
        //    MySqlDataAdapter cmd = new MySqlDataAdapter("rtFetchList", conn);
        //    cmd.SelectCommand.CommandType = CommandType.StoredProcedure;
        //    cmd.SelectCommand.Parameters.AddWithValue("@value", prefixText);
        //    cmd.Fill(ds);
        //    if (ds.Tables.Count != 0)
        //        for (int j = 0; j < ds.Tables.Count; j++)
        //        {
        //            for (int i = 0; i < ds.Tables[j].Rows.Count; i++)
        //            {
        //                sb.Append(ds.Tables[j].Rows[i][0].ToString()).Append(Environment.NewLine);
        //            }
        //        }

        //}
        context.Response.Write(sb.ToString());
    }
    // conn.ConnectionString = ConfigurationManager
    //                    .ConnectionStrings["OdbcSessionServices"].ConnectionString;
    //            using (MySqlCommand cmd = new MySqlCommand())
    //            {
    //                cmd.CommandText = @"select distinct concat(name,'- ', locality, ' (',cuisine,')' ) as name from `pklrestaurants`  where name like @SearchText
    //                or cuisine like @SearchText  or locality like @SearchText";
    //                cmd.Parameters.AddWithValue("@SearchText", prefixText);
    //                cmd.Connection = conn;
    //                StringBuilder sb = new StringBuilder();
    //                conn.Open();
    //                using (MySqlDataReader sdr = cmd.ExecuteReader())
    //                {
    //                    while (sdr.Read())
    //                    {
    //                        sb.Append(sdr["name"])
    //                            .Append(Environment.NewLine);
    //                    }
    //                }
    //                conn.Close();
    //                context.Response.Write(sb.ToString());
    //            }


    public bool IsReusable
    {
        get
        {
            return false;
        }
    }

}